<div class="item item_2">
    <div class="item_2-flex">
        <div class="item_price">
            <a href="" target="_blank">JACKET ¥0,000</a>
        </div>
        <div class="itemph item2-1">
            <img src="<%= rootURL %>/assets/img/item/item2-1.jpg" alt="">        
        </div>
    </div>
    <div class="item_2-flex">
        <div class="item_price">
            <a href="" target="_blank">JACKET ¥0,000</a>
        </div>
        <div class="itemph item2-2">
            <img src="<%= rootURL %>/assets/img/item/item2-2.jpg" alt="">        
        </div>
    </div>
</div>