<div class="item item_1">
    <div class="item_1-flex">
        <div class="item_price">
            <a href="" target="_blank">JACKET ¥0,000</a>
        </div>
        <div class="itemph item1-1">
            <img src="<%= rootURL %>/assets/img/item/item1-1.jpg" alt="">        
        </div>
    </div>
    <div class="itemph item1-2">
        <img src="<%= rootURL %>/assets/img/item/item1-2.jpg" alt="">        
    </div>
</div>