<div class="item item_3">
    <div class="item_3-flex">
        <div class="itemph item3-1 fadein">
            <img src="<%= rootURL %>/assets/img/item/item3-1.jpg" alt="">        
        </div>
        <div class="item_price fadein">
            <a href="" target="_blank">JACKET ¥0,000</a>
        </div>
    </div>
</div>


<div class="bora-wrap active bora-wrap_8">
    <div class="bora bora_22">
        <img src="<%= rootURL %>/assets/img/bora/bora_22.png" alt="">        
    </div>
    <div class="bora bora_23">
        <img src="<%= rootURL %>/assets/img/bora/bora_23.png" alt="">        
    </div>
    <div class="bora bora_24">
        <img src="<%= rootURL %>/assets/img/bora/bora_24.png" alt="">        
    </div>
</div>