@use '../_reset';
@use '../_mixin' as *;
@use '../_common' as c;

.style{
    .style-ph{
        line-height: 0;
        overflow: hidden;
    }
}

.item_detail{
    background: url(../img/bg.png);
    background-repeat: repeat;
    background-size: 100%;
    color: c.$main;
    font-size: spFont(20);
    width: spCalc(320);
    padding: 5px;
    line-height: calc(30/ 20);
    a{
        color: c.$main;
        border-bottom: solid 0.9px c.$main;
    }
    @include pc{
        width: 160px;
        font-size: min(pcFont(20),10px);
    }
}

.main{
    @include pc{
        width: pcCalc(2020);
        margin: 0 auto;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}