@use '../_reset';
@use '../_mixin' as *;
@use '../_common' as c;

.mv_wrap{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 1;
  pointer-events: none;
  background: #fff;
  transition: all .8s linear;
  &.show{
    .pc_left,.pc_right{
      opacity: 1;
      img{
          transform: scale(1,1);
        }
    }
    .sp_mv{
      .mv_1,.mv_2{
        opacity: 1;
        
      }
    }
  }
  &.hidden{
    opacity: 0;
  }
}

.pc_mv{
  display: none;
  @include pc{
    display: flex;
    height: 100vh;
  }
  .pc_left,.pc_right{
    line-height: 0;
    width: 50%;
    position: relative;
    opacity: 0;
    transition: opacity 1s linear;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.05,1.05);
      transition: transform 2s linear;
    }
  }
  .pcmv{
    position: relative;
    z-index: 10;
  }
}

.pc_txt-wrap{
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 20;
  margin: 0{
    top: calc(60 / 1367) * 100%;
    right: calc(60 / 1367) * 100%;
  };
  h1{
    writing-mode: vertical-rl;
    line-height: 1;
    font-size: min(pcFont(22),11px); 
  }
  h2{
    width: 10px;
    line-height: 1;
  }
}

.sp_mv{
  display: block;
  position: relative;
  height: 100vh;
  @include pc{
    display: none;
  }
  .mv_1,.mv_2{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: all .5s linear;
  }
  
  .mv_2{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition-delay: 1.5s;
  }

  .sp_txt-wrap{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0{
      top: spCalc(30);
      right: spCalc(30);
    };
    h1{
      font-size: spFont(22);
      line-height: 1;
      writing-mode: vertical-rl;
    }
    h2{
      width: 10px;
      line-height: 0;
    }
  }
}



.animated-text{
  opacity: 0;
  transition: all .2s ease;
  &.show{
    opacity: 1;
  }
}

.mv_logo{
  opacity: 0;
  transition: all 1s ease;
  &.show{
    opacity: 1;
  }
}