@use '../_reset';
@use '../_mixin' as *;
@use '../_common' as c;

.style_6{
    margin-top: spCalc(160);
    width: 100%;
    position: relative;
    .style6-wrap{
        display: flex;
        align-items: flex-end;
        vertical-align: bottom;
        gap: 10px;
    }   
    .style6-1{
        width: spCalc(550); 
        position: relative;
        .second{
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
        }
        &.in{
            .second{
                animation: opacity 8s linear infinite;
            }
        }
    }
    .item_detail{
        width: 55px;
        height: 160px;
        p{
            writing-mode: vertical-rl;
            a{
                border-left: solid 0.9px c.$main;
                border-bottom: none;
            }
        }
    }
    .style6-3{
        position: absolute;
        width: spCalc(180);
        top: 0;
        right: 0;
        // img{
        //     opacity: 0;
        // }
        // &.move{
        //     img{
        //             animation: opacity 8s linear infinite;
        //     }
        // }
    }
    @include pc{
        margin-top: pc(300);
        .style6-1{
            width: pc(800); 
        }
        .style6-3{
            width: pc(300); 
        }
    }
}