<p class="credit hel_r">
    Photo：Misuzu Otsuka<br>
    Styling：Ryota Yamada<br>
    Hair&Make-up：MEI (W)<br>
    Model：FELIX THOMAS(THE management) , Lena(WEST management)<br>
    Design：Rikako Urayama (Rhino inc.)<br>
    Development：Riho Yamamoto (Rhino inc.)<br>
    Edit：Takahiro Kawata,Yukino Tamotsu (Rhino inc.)    
</p>
<ul class="sns-list">
    <li class="x icon">
        <a href="https://x.com/ragebluepress" target="_blank">
            <img src="<%= rootURL %>/assets/img/sns/x.png" alt="">        
        </a>
    </li>
    <li class="insta icon">
        <a href="https://www.instagram.com/rageblue_official/" target="_blank">
            <img src="<%= rootURL %>/assets/img/sns/insta.png" alt="">        
        </a>
    </li>
    <li class="line icon">
        <a href="https://line.me/R/ti/p/@rageblue?from=page" target="_blank">
            <img src="<%= rootURL %>/assets/img/sns/line.png" alt="">        
        </a>
    </li>
    <li class="tiktok icon">
        <a href="https://www.tiktok.com/@rageblue_official" target="_blank">
            <img src="<%= rootURL %>/assets/img/sns/tiktok.png" alt="">        
        </a>
    </li>
</ul>
<p class="copy">
    Copyright © Adastria Co., Ltd. All rights reserved.
</p>