<div class="header">
    <div class="header_inner">
        <h1 class="hel_r">
            2025 WINTER COLLECTION
        </h1>
        <h2>
            <img src="<%= rootURL %>/assets/img/rageblue.png" alt="RAGEBLUE">        
        </h2>
    </div>
</div>