
<div class="style style_9" id="style_9">
    <div class="item_detail">
        <p>
            <span class="hel_b">009：</span><a href="" target="_blank">KNIT ¥0,000</a>　<a href="" target="_blank">PANTS ¥0,000</a>　<a href="" target="_blank">KNIT ¥0,000</a>　<a href="" target="_blank">PANTS ¥0,000</a>
        </p>
    </div>
    <div class="style9-wrap">
        <div class="style-ph style9-1">
            <img src="<%= rootURL %>/assets/img/style/style9-1.jpg" alt="">        
        </div>
        <div class="style-ph style9-2">
            <img src="<%= rootURL %>/assets/img/style/style9-2.jpg" alt="">        
        </div>
    </div>
</div>