
<div class="style style_10" id="style_10">
    
    <div class="style10-wrap">
        <div class="fadein style-ph style10-1">
            <img src="<%= rootURL %>/assets/img/style/style10-1.jpg" alt="">        
        </div>
        <div class="fadein2 style-ph style10-2">
            <img src="<%= rootURL %>/assets/img/style/style10-2.jpg" alt="">        
        </div>
    </div>
    <div class="item_detail fadein3">
        <p>
            <span class="hel_b">010：</span><a href="" target="_blank">KNIT ¥0,000</a>　<a href="" target="_blank">PANTS ¥0,000</a>　<a href="" target="_blank">KNIT ¥0,000</a>　<a href="" target="_blank">PANTS ¥0,000</a>
        </p>
    </div>
</div>



<div class="bora-wrap active bora-wrap_9">
    
    <div class="bora bora_25">
        <img src="<%= rootURL %>/assets/img/bora/bora_25.jpg" alt="">        
    </div>
    <div class="bora bora_26">
        <img src="<%= rootURL %>/assets/img/bora/bora_26.jpg" alt="">        
    </div>
</div>